@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Poppins:wght@600&family=Roboto:ital,wght@1,300&display=swap');

* {
    font-family: Poppins;
}
/* Remover padding e margem padrão do body */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
  }

a {
    text-decoration: none;
    color: white;
}

/* Estilos para o header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 1vh 1vh;
    background: linear-gradient(89deg, #408C40 0%, #26AA26 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo alinhado à esquerda */
header img {
    width: auto;
    height: 6vh;

}

/* Navegação (ul e itens de lista) */
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-right: 2vw;
}

nav ul li {
    margin-right: 2vw;
    font-size: 2.5vh;
    font-weight: bold;
    white-space: nowrap; /* Previne quebra de palavras */
}

nav ul li :hover{
    color: yellow;
}

nav ul li:last-child {
    margin-right: 10%;
}

/* Garantir que o conteúdo não ultrapasse a tela */
header, nav ul {
    width: 100%;
    overflow: hidden; /* Evitar que o conteúdo suma para fora da tela */
}

.cell-icon{
    display: none;
}

main {
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
}

.image-section{
    width: 100%;
    position: absolute;
}

.image-section img{
    width: 100.85%;
    object-fit: cover;
}

.text-overlay {
    position: absolute; /* Posicionamento em relação à div pai */
    top: 40%;
    left: 35%; /* Ajustado para centralizar horizontalmente */
    width: 28%;
    height: auto; /* Ajuste automático da altura com base no conteúdo */
    transform: translate(-50%, -50%);
    text-align: left;
    color: var(--branco, #E1E1E1);
    font-size: 2.5vw; /* Escala o tamanho do texto de acordo com a largura da janela */
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /* Ajuste de espaçamento entre linhas */
    text-transform: uppercase;
    max-width: 90%; /* Limita a largura máxima para evitar que o texto ultrapasse a div */
    max-height: 100%; /* Limita a altura máxima */
    overflow: hidden; /* Garante que o texto não saia da área */
}


.filter-overlay {
    transform: translate(-50%);
    position: absolute;
    width: 60%;
    height: 17%;
    background: rgba(159, 157, 157, 0.50);
    left: 50%;
    bottom: 3.81%;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.filter-top{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    z-index: 1;
    align-items: center;
}

.filter-bot{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1%;
    gap: 20%;
}

.filter-top-bttn, .filter-bot-bttn {
    background: #408C40;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 80%;
    cursor: pointer;
    z-index: 2;
    height: 60%;
    width: 13%;
    
  }

  .filter-top-bttn-cell {
    display: none;
  }


.filter-bttns.active{
    background: rgb(234, 234, 120);
}

.dropdown{
    position: relative;
    height: 60%;
    width: 15%;
    align-items: center;
    z-index: 1;
  }
.dropdown-title{
    height: 100%;
    width: 100%;
}
  
.dropdown-title span {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    color: #000;
    font-size: 100%;
    width: 100%; 
    height: 100%; 
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    background-color: #E1E1E1;
    border-radius: 12px;
    flex-shrink: 0;
    white-space: nowrap;
    z-index: 1;
}

.dropdown-title.select-clicked {
    z-index: 10000; /* z-index elevado quando o menu está aberto */
}

  .menu{
    width: 100%;
    transition: 0.2s ease-in-out;
    list-style: none;
    background: green;
    border: 1px green solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: black;
    top: 100%;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: 0.2s;
    display: none;
    z-index: 10000;
  }
  .tipo {
    z-index: 50;
  }
  .bairro{
    z-index: 49;
  }
  .dormitorios{
    z-index: 48;
  }
  .cidade{
    z-index: 47;
  }
  .custom-input{
    z-index: 46;
  }
  
  .menu li{
    padding: 0.7em 0.5em;
    margin: 0.1em;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .menu li:hover {
    background: white;
  }
  
  .active{
    background-color: green;
    z-index: 10000;
  }
  
  .menu-open{
    display: block;
    opacity: 1;
    z-index: 10000;
  }  

  .custom-input {
    height: 95%;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10%;
    transition: border-color 0.3s ease;
    font-size: 100%;
    color: #000;
    background-color: #E1E1E1;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    background: #408C40;
    border-radius: 10px;
    height: 60%;
    width: 25%;
  }

footer {
    position: relative;
    top: 50%;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.footer-info{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #dfdc77, #bdbb56, #d4d46c, #ccc864, #d3cc6c);;
}
.footer-rights{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(89deg, #408C40 0%, #26AA26 100%);
    align-items: center;
}
.footer-rights p {
    margin: 0;
    color: white;
    font-size: 70%;
}
.footer-rights img {
    width: auto;
    height: 6vh;
}

.menu2 a {
    color: black;
}

@media (max-width: 768px) {
    header { 
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 0 0.5vh 0.5vh;
        background: linear-gradient(89deg, #408C40 0%, #26AA26 100%);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    /* Logo alinhado à esquerda */
    header img {
        width: auto;
        height: 5vh;
    
    }
    
    /* Navegação (ul e itens de lista) */
    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        margin-right: 2vw;
    }
    
    nav ul li {
        margin-right: 2vw;
        font-size: 1.5vh;
        font-weight: bold;
        white-space: nowrap; /* Previne quebra de palavras */
    }
    
    nav ul li :hover{
        color: yellow;
    }
    
    nav ul li:last-child {
        margin-right: 10%;
    }
    
    /* Garantir que o conteúdo não ultrapasse a tela */
    header, nav ul {
        width: 100%;
        overflow: hidden; /* Evitar que o conteúdo suma para fora da tela */
    }

    .desktop-icon {
        display: none;
    }

    .cell-icon {
        display: flex;
    }

    .image-section{
        width: 100%;
        height: 80%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .image-section img{
        width: 102.85%;
        height: 100%;
        object-fit: cover;
    }
    .text-overlay {
        position: absolute; /* Posicionamento em relação à div pai */
        top: 20%;
        left: 50%; /* Ajustado para centralizar horizontalmente */
        width: 40%;
        text-align: left;
        color: var(--branco, #E1E1E1);
        font-size: 4vw; /* Escala o tamanho do texto de acordo com a largura da janela */
        font-weight: 700;
        line-height: 1.2; /* Ajuste de espaçamento entre linhas */
        text-transform: uppercase;
        max-width: 90%; /* Limita a largura máxima para evitar que o texto ultrapasse a div */
        max-height: 100%; /* Limita a altura máxima */
        overflow: hidden; /* Garante que o texto não saia da área */
    }

    .filter-overlay {
        height: 60%;
        bottom: none;
        width: 70%;
    }

    .form{
        justify-content: center;
        gap: 8%;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .filter-top {
        flex-direction: column;

    }
    .filter-top-bttn{
        width: 60%;
    }
    .dropdown{
        width: 60%;
        margin-top: 4%;
    }
    .dropdown-dormitorios{
        width: 70%;
    }
    .menu {
        align-items: center;
        text-align: center;
    }
    .menu li{
        padding: 1em 0.1em;
        margin-left: 0;
        border-radius: 0.5em;
        cursor: pointer;
      }
    .filter-top-bttn-cell{
        display: block;
    }
    .filter-bot-bttn{
        display: none;
    }
    .filter-bot{
        height: 20%;
        display: flex;
        justify-content: center;
        width: 50%;

    }
    .buscar {
        width: 100%;
        height: 50%;
    }

    footer{
        padding-bottom: 0px;
    }

    .footer-info{
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .insta-face{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }
    .footer-rights p{
        font-size: 60%;
    }
}
